
<ion-header [translucent]="true">

    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true"
class="background"
>


<ion-header>
  <ion-toolbar color="black">
    <ion-title size="large">Valendo: {{valendo}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-grid [fixed]="true">
<ion-row>
  <ion-col>
    <ion-button fill="outline" size="large" color="light">
      <h2>1</h2></ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" size="large" color="light" (click)="btn3()"><h2>3</h2></ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" size="large" color="light" (click)="btn6()"><h2>6</h2></ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" size="large" color="light" (click)="btn9()"><h2>9</h2></ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" size="large" color="light" (click)="btn12()"><h2>12</h2></ion-button>
  </ion-col>
</ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col>
      <h1>Time 1</h1>
    </ion-col>
    <ion-col>
      <h1>Time 2</h1>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="centerButton">
      <ion-button fill="outline" size="large" color="light" (click)="aumentarPonto1()">+</ion-button>
    </div>
    </ion-col>
    <ion-col>
      <div class="centerButton">
      <ion-button fill="outline" size="large" color="light" (click)="aumentarPonto2()">+</ion-button>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col>
      <h1>{{pontosTime1}}</h1>
    </ion-col>
    <ion-col>
      <h1>{{pontosTime2}}</h1>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <div class="centerButton">
      <ion-button fill="outline" size="large" color="light" (click)="diminuirPonto1()">-</ion-button>
    </div>
    </ion-col>
    <ion-col>
      <div class="centerButton">
      <ion-button fill="outline" size="large" color="light" (click)="diminuirPonto2()">-</ion-button>
    </div>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-text color="dark" >
  <h2 class="text">PARTIDAS</h2>
</ion-text>

<div class="time">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Time 1</h2>
      </ion-col>
      <ion-col>
        <h2>{{time1Ganhando}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

  <div class="time">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Time 2</h2>
      </ion-col>
      <ion-col>
        <h2>{{time2Ganhando}}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>


</ion-content>

<ion-footer>
  <ion-toolbar color="black">
    <ion-button fill="clear" expand="block" (click)="limpar()">
      <h1>LIMPAR
        <ion-icon name="refresh-circle-outline"></ion-icon>
      </h1>
    </ion-button>
  </ion-toolbar>
</ion-footer>
