<ion-header [translucent]="true">

    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

<ion-header>
  <ion-toolbar color="medium">
    <ion-title size="large">Valendo: </ion-title>
  </ion-toolbar>
</ion-header>


<ion-grid [fixed]="true">
<ion-row>
  <ion-col>
    <ion-button fill="outline" size="large">1</ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" size="large">3</ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" size="large">6</ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" size="large">9</ion-button>
  </ion-col>
  <ion-col>
    <ion-button fill="outline" size="large">12</ion-button>
  </ion-col>
</ion-row>
</ion-grid>


<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <h1>Time 1</h1>
    </ion-col>
    <ion-col>
      <h1>Time 2</h1>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-button fill="outline" size="large">+</ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="outline" size="large">+</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <h1>0</h1>
    </ion-col>
    <ion-col>
      <h1>0</h1>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid [fixed]="true">
  <ion-row>
    <ion-col>
      <ion-button fill="outline" size="large">-</ion-button>
    </ion-col>
    <ion-col>
      <ion-button fill="outline" size="large">-</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-text color="dark" >
  <h1 class="text">PARTIDAS</h1>
</ion-text>

<div class="position">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Time 1</h1>
      </ion-col>
      <ion-col>
        <h1>0</h1>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Time 2</h1>
      </ion-col>
      <ion-col>
        <h1>0</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button>
      <h2>LIMPAR
        <ion-icon name="refresh-circle-outline"></ion-icon>
      </h2>
    </ion-button>
  </ion-toolbar>
</ion-footer>
